
// color

$primary-color:  #314599;
$secondary-color:rgba(247, 181, 0, 1);
$third-color: linear-gradient(0deg, rgba(221, 228, 255, 1) 0%, rgba(254, 254, 254, 1) 100%);

$placeholder-color:#ced4da;
$fourth-color: #F6F6F6;


// font
$big-font: 16px;
$medium-font: 14px;
$small-font: 12px;
$extra-small-font: 10px;



// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


